openapi: 3.0.3
info:
  title: Unofficial Skylight API (Community Reference)
  version: 0.1.0
  description: |-
    Reverse-engineered reference for Skylight endpoints based on observed traffic.
    JSON:API-style resources are common (type, id, attributes, relationships).
    **Unofficial**; for research and interoperability. All examples redacted.

    Generated on: 2025-12-29T18:52:09.971Z
servers:
  - url: https://app.ourskylight.com
tags: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    basicToken:
      type: http
      scheme: basic
      description: Observed Authorization header uses an opaque Basic token. Treat as secret.
paths:
  /api/avatars:
    get:
      description: ""
      operationId: getApiAvatars
      parameters:
        - description: priority
          in: header
          name: priority
          schema:
            default: u=1, i
            example: u=1, i
            type: string
        - description: sec-gpc
          in: header
          name: sec-gpc
          schema:
            default: "1"
            example: "1"
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  - attributes:
                      image_url: https://skylight-frame-res.cloudinary.com/image/upload/v1759948691/avatars/avatar_raccoon.png
                      name: raccoon
                    id: "37"
                    type: avatar
                  - attributes:
                      image_url: https://skylight-frame-res.cloudinary.com/image/upload/v1759948693/avatars/avatar_unicorn.png
                      name: unicorn
                    id: "38"
                    type: avatar
                  - attributes:
                      image_url: https://skylight-frame-res.cloudinary.com/image/upload/v1759948690/avatars/avatar_lab.png
                      name: lab
                    id: "39"
                    type: avatar
                  - attributes:
                      image_url: https://skylight-frame-res.cloudinary.com/image/upload/v1759948690/avatars/avatar_husky.png
                      name: husky
                    id: "40"
                    type: avatar
                  - attributes:
                      image_url: https://skylight-frame-res.cloudinary.com/image/upload/v1759948689/avatars/avatar_elephant.png
                      name: elephant
                    id: "41"
                    type: avatar
                  - attributes:
                      image_url: https://skylight-frame-res.cloudinary.com/image/upload/v1759948688/avatars/avatar_dino.png
                      name: dinosaur
                    id: "42"
                    type: avatar
                  - attributes:
                      image_url: https://skylight-frame-res.cloudinary.com/image/upload/v1759948687/avatars/avatar_cat.png
                      name: cat
                    id: "43"
                    type: avatar
                  - attributes:
                      image_url: https://skylight-frame-res.cloudinary.com/image/upload/v1759948687/avatars/avatar_bunny.png
                      name: bunny
                    id: "44"
                    type: avatar
                  - attributes:
                      image_url: https://skylight-frame-res.cloudinary.com/image/upload/v1759948685/avatars/avatar_beagle.png
                      name: beagle
                    id: "45"
                    type: avatar
                  - attributes:
                      image_url: https://skylight-frame-res.cloudinary.com/image/upload/v1759948685/avatars/avatar_bear.png
                      name: bear
                    id: "46"
                    type: avatar
              schema:
                additionalProperties: false
                properties:
                  data:
                    items:
                      additionalProperties: false
                      properties:
                        attributes:
                          additionalProperties: false
                          properties:
                            image_url:
                              format: uri
                              type: string
                              x-qt-uri-extensions:
                                - .png
                              x-qt-uri-protocols:
                                - https
                            name:
                              type: string
                          required: []
                          title: Attributes
                          type: object
                        id:
                          format: integer
                          type: string
                        type:
                          enum:
                            - avatar
                          title: Type
                          type: string
                      required: []
                      title: Datum
                      type: object
                    type: array
                required: []
                title: APIAvatarsGetRequest
                type: object
          description: ""
          headers:
            cf-cache-status:
              description: Custom header cf-cache-status
              schema:
                type: string
            cf-ray:
              description: Custom header cf-ray
              schema:
                type: string
            nel:
              description: Custom header nel
              schema:
                type: string
            x-content-type-options:
              description: Custom header x-content-type-options
              schema:
                type: string
            x-permitted-cross-domain-policies:
              description: Custom header x-permitted-cross-domain-policies
              schema:
                type: string
            x-runtime:
              description: Custom header x-runtime
              schema:
                type: string
      summary: Get Api Avatars
      security:
        - bearerAuth: []
        - basicToken: []
    parameters: []
  /api/colors:
    get:
      description: ""
      operationId: getApiColors
      parameters:
        - description: priority
          in: header
          name: priority
          schema:
            default: u=1, i
            example: u=1, i
            type: string
        - description: sec-gpc
          in: header
          name: sec-gpc
          schema:
            default: "1"
            example: "1"
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  - hex: "#FDC36D"
                    name: Orange
                  - hex: "#FBD97E"
                    name: Sunshine
                  - hex: "#CE812D"
                    name: Ochre
                  - hex: "#FDB305"
                    name: Deep Sunshine
                  - hex: "#F3B075"
                    name: Clementine
                  - hex: "#CF632E"
                    name: Deep Clementine
                  - hex: "#F66951"
                    name: Coral
                  - hex: "#FBA994"
                    name: Grapefruit
                  - hex: "#CB434C"
                    name: Deep Grapefruit
                  - hex: "#DADADA"
                    name: Charcoal
                  - hex: "#D5B6EC"
                    name: Lavender
                  - hex: "#915EA1"
                    name: Deep Lavender
                  - hex: "#A8D4D3"
                    name: Cyan
                  - hex: "#93D1E6"
                    name: River
                  - hex: "#00526D"
                    name: Deep River
                  - hex: "#2178AF"
                    name: Blue
                  - hex: "#82D7DD"
                    name: Sky
                  - hex: "#2D8086"
                    name: Deep Sky
                  - hex: "#B6E085"
                    name: Sprout
                  - hex: "#408257"
                    name: Deep Sprout
              schema:
                additionalProperties: false
                properties:
                  data:
                    items:
                      additionalProperties: false
                      properties:
                        hex:
                          type: string
                        name:
                          type: string
                      required: []
                      title: Datum
                      type: object
                    type: array
                required: []
                title: APIColorsGetRequest
                type: object
          description: ""
          headers:
            cf-cache-status:
              description: Custom header cf-cache-status
              schema:
                type: string
            cf-ray:
              description: Custom header cf-ray
              schema:
                type: string
            nel:
              description: Custom header nel
              schema:
                type: string
            x-content-type-options:
              description: Custom header x-content-type-options
              schema:
                type: string
            x-permitted-cross-domain-policies:
              description: Custom header x-permitted-cross-domain-policies
              schema:
                type: string
            x-runtime:
              description: Custom header x-runtime
              schema:
                type: string
      summary: Get Api Colors
      security:
        - bearerAuth: []
        - basicToken: []
    parameters: []
  /api/frames/{id}/albums:
    get:
      description: ""
      operationId: getApiFramesByIdAlbums
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - description: priority
          in: header
          name: priority
          schema:
            default: u=1, i
            example: u=1, i
            type: string
        - description: sec-gpc
          in: header
          name: sec-gpc
          schema:
            default: "1"
            example: "1"
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data: []
              schema:
                additionalProperties: false
                properties:
                  data:
                    items: {}
                    type: array
                required: []
                title: APIFramesIDAlbumsGetRequest
                type: object
          description: ""
          headers:
            cf-cache-status:
              description: Custom header cf-cache-status
              schema:
                type: string
            cf-ray:
              description: Custom header cf-ray
              schema:
                type: string
            nel:
              description: Custom header nel
              schema:
                type: string
            x-content-type-options:
              description: Custom header x-content-type-options
              schema:
                type: string
            x-permitted-cross-domain-policies:
              description: Custom header x-permitted-cross-domain-policies
              schema:
                type: string
            x-runtime:
              description: Custom header x-runtime
              schema:
                type: string
      summary: Get Api Frames By ID Albums
      security:
        - bearerAuth: []
        - basicToken: []
    parameters:
      - example: "4418006"
        in: path
        name: id
        required: true
        schema:
          default: "4418006"
          type: integer
  /api/frames/{id}/auto_creation_intents/{id1}:
    get:
      description: ""
      operationId: getApiFramesByIdAutoCreationIntents
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: id1
          in: path
          required: true
          schema:
            type: string
        - description: priority
          in: header
          name: priority
          schema:
            default: u=1, i
            example: u=1, i
            type: string
        - description: sec-gpc
          in: header
          name: sec-gpc
          schema:
            default: "1"
            example: "1"
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    attachment_put_url: null
                    created_at: 2025-12-29T18:48:32.060Z
                    created_via: app_form
                    engine: list_importer
                    external_result_url: null
                    result: null
                    status: approved
                  id: "8931159"
                  type: auto_creation_intent
              schema:
                additionalProperties: false
                properties:
                  data:
                    additionalProperties: false
                    properties:
                      attributes:
                        additionalProperties: false
                        properties:
                          attachment_put_url:
                            nullable: true
                          created_at:
                            format: date-time
                            type: string
                          created_via:
                            type: string
                          engine:
                            type: string
                          external_result_url:
                            nullable: true
                          result:
                            nullable: true
                          status:
                            type: string
                        required: []
                        title: Attributes
                        type: object
                      id:
                        format: integer
                        type: string
                      type:
                        type: string
                    required: []
                    title: Data
                    type: object
                required: []
                title: APIFramesIDAutoCreationIntentsId1GetRequest
                type: object
          description: ""
          headers:
            cf-cache-status:
              description: Custom header cf-cache-status
              schema:
                type: string
            cf-ray:
              description: Custom header cf-ray
              schema:
                type: string
            nel:
              description: Custom header nel
              schema:
                type: string
            x-content-type-options:
              description: Custom header x-content-type-options
              schema:
                type: string
            x-permitted-cross-domain-policies:
              description: Custom header x-permitted-cross-domain-policies
              schema:
                type: string
            x-runtime:
              description: Custom header x-runtime
              schema:
                type: string
        "304":
          content:
            application/json:
              example:
                data:
                  attributes:
                    attachment_put_url: null
                    created_at: 2025-12-29T18:48:32.060Z
                    created_via: app_form
                    engine: list_importer
                    external_result_url: null
                    result: null
                    status: approved
                  id: "8931159"
                  type: auto_creation_intent
              schema:
                additionalProperties: false
                properties:
                  data:
                    additionalProperties: false
                    properties:
                      attributes:
                        additionalProperties: false
                        properties:
                          attachment_put_url:
                            nullable: true
                          created_at:
                            format: date-time
                            type: string
                          created_via:
                            type: string
                          engine:
                            type: string
                          external_result_url:
                            nullable: true
                          result:
                            nullable: true
                          status:
                            type: string
                        required: []
                        title: Attributes
                        type: object
                      id:
                        format: integer
                        type: string
                      type:
                        type: string
                    required: []
                    title: Data
                    type: object
                required: []
                title: APIFramesIDAutoCreationIntentsId1GetRequest
                type: object
          description: ""
          headers:
            cf-cache-status:
              description: Custom header cf-cache-status
              schema:
                type: string
            cf-ray:
              description: Custom header cf-ray
              schema:
                type: string
            nel:
              description: Custom header nel
              schema:
                type: string
            x-content-type-options:
              description: Custom header x-content-type-options
              schema:
                type: string
            x-permitted-cross-domain-policies:
              description: Custom header x-permitted-cross-domain-policies
              schema:
                type: string
            x-runtime:
              description: Custom header x-runtime
              schema:
                type: string
      summary: Get Api Frames By ID Auto Creation Intents
      security:
        - bearerAuth: []
        - basicToken: []
    parameters:
      - example: "4418006"
        in: path
        name: id
        required: true
        schema:
          default: "4418006"
          type: integer
      - example: "8931159"
        in: path
        name: id1
        required: true
        schema:
          default: "8931159"
          type: integer
  /api/frames/{id}/calendar_events:
    get:
      description: ""
      operationId: getApiFramesByIdCalendarEvents
      parameters:
        - &a1
          name: id
          in: path
          required: true
          schema:
            type: string
        - description: date_min
          in: query
          name: date_min
          schema:
            default: 2025-12-29
            example: 2025-12-29
            type: string
        - description: date_max
          in: query
          name: date_max
          schema:
            default: 2026-02-03
            example: 2026-02-03
            type: string
        - description: timezone
          in: query
          name: timezone
          schema:
            default: America/New_York
            example: America/New_York
            type: string
        - description: include
          in: query
          name: include
          schema:
            default: categories,calendar_account,event_notification_setting
            example: categories,calendar_account,event_notification_setting
            type: string
        - description: priority
          in: header
          name: priority
          schema:
            default: u=1, i
            example: u=1, i
            type: string
        - description: sec-gpc
          in: header
          name: sec-gpc
          schema:
            default: "1"
            example: "1"
            type: string
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2025-12-29T10:00:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=MO
                      source: google
                      starts_at: 2025-12-29T09:30:00.000-05:00
                      status: approved
                      summary: Kaha 1:1
                      timezone: America/New_York
                      uid: 69i62or364p6cbb474sj0b9k6osmcbb1cosm6bb16kpjcchi74p66e9i6c
                    id: 5355662012-1767018600
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2025-12-29T10:15:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;INTERVAL=1;BYDAY=MO,TU,WE,TH,FR
                      source: google
                      starts_at: 2025-12-29T10:00:00.000-05:00
                      status: approved
                      summary: Delta Standup
                      timezone: America/New_York
                      uid: 74pjac1k70qj4b9k6go3ab9k64o32bb2clj3ibb260qjcp3270o3gphk60
                    id: 5355661992-1767020400
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2025-12-29T10:30:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=MO
                      source: google
                      starts_at: 2025-12-29T10:15:00.000-05:00
                      status: approved
                      summary: Delta Idea Board Grooming
                      timezone: America/New_York
                      uid: 68rm2oj56lhjeb9j6li30b9k6pim8b9ochi30b9ic4s66dhm6crj4chl68
                    id: 5355661995-1767021300
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2025-12-29T12:00:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;UNTIL=20260101T045959Z;INTERVAL=1;BYDAY=MO
                      source: google
                      starts_at: 2025-12-29T11:00:00.000-05:00
                      status: approved
                      summary: Agent UI Standup
                      timezone: America/New_York
                      uid: 6hh64ohg6pj6cb9m60o3eb9kcpgj0bb16go3ib9n6lgm6c9icgsm6cb6cg
                    id: 5355662031-1767024000
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2025-12-30T10:15:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;INTERVAL=1;BYDAY=MO,TU,WE,TH,FR
                      source: google
                      starts_at: 2025-12-30T10:00:00.000-05:00
                      status: approved
                      summary: Delta Standup
                      timezone: America/New_York
                      uid: 74pjac1k70qj4b9k6go3ab9k64o32bb2clj3ibb260qjcp3270o3gphk60
                    id: 5355661992-1767106800
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2025-12-30T12:00:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;INTERVAL=1;BYDAY=TU,TH
                      source: google
                      starts_at: 2025-12-30T11:00:00.000-05:00
                      status: approved
                      summary: Delta Dev Brainstorm
                      timezone: America/New_York
                      uid: 69gm2e1h6gr3gb9hcksjab9k6srm6b9ocgo32bb661h3gchj74o3aoj1ck
                    id: 5355661997-1767110400
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2025-12-30T12:00:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=MO;UNTIL=20260106T045959Z
                      source: google
                      starts_at: 2025-12-30T11:00:00.000-05:00
                      status: approved
                      summary: Agent UI Standup
                      timezone: America/New_York
                      uid: 6kpj4c9mcgq38bb5ckp32b9kc8pjcb9occrj0b9kcph68dr460rjgor264
                    id: 5355662046-1767110400
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2025-12-30T14:00:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;INTERVAL=2;BYDAY=TU
                      source: google
                      starts_at: 2025-12-30T13:00:00.000-05:00
                      status: approved
                      summary: ML Project Sync
                      timezone: America/New_York
                      uid: coqj0cr36cp3ebb170p30b9kckpmcb9o6kp30bb6c5gjgchgc4q6coj170
                    id: 5355662001-1767117600
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2025-12-30T14:00:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=MO
                      source: google
                      starts_at: 2025-12-30T13:30:00.000-05:00
                      status: approved
                      summary: Weekly Catchup - Wendy
                      timezone: America/New_York
                      uid: 65j62dph70qj2b9pccs34b9k6so34bb174rjab9ocdj34dj170pjic9k6c
                    id: 5355661982-1767119400
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2025-12-30T15:00:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=MO;INTERVAL=1;BYDAY=TU
                      source: google
                      starts_at: 2025-12-30T14:00:00.000-05:00
                      status: approved
                      summary: Pelvic floor therapy
                      timezone: America/New_York
                      uid: 3s32ncc2ql4gs0tdgej8tmu9o8
                    id: 5355661970-1767121200
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13624117"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: |+
                        Topic: WTA Events and Six-Figure Interviews

                        Join from PC, Mac, iPad, or Android:
                        https://us02web.zoom.us/w/84744879597?tk=oHIz07BqZ31q2QuiOk8aP5xENpdfQMXSdfgNoS0_S3g.DQcAAAATuzA97RY2aW1TZ09Ya1NScU81Q3MySm92TVhnAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA&pwd=DnLyTMaE3PJj5smbiaGgJ7BZ8ObsSW.1
                        Passcode:624676

                        Phone one-tap:
                        +13126266799,,84744879597#,,,,*624676# US (Chicago)
                        +16469313860,,84744879597#,,,,*624676# US

                        Join via audio:
                        +1 555-555-5555 US (Chicago)
                        +1 555-555-5555 US
                        +1 555-555-5555 US (New York)
                        +1 555-555-5555 US (Washington DC)
                        +1 555-555-5555 US
                        +1 555-555-5555 US
                        +1 555-555-5555 US
                        +1 555-555-5555 US (San Jose)
                        +1 555-555-5555 US
                        +1 555-555-5555 US
                        +1 555-555-5555 US
                        +1 555-555-5555 US (Tacoma)
                        +1 555-555-5555 US (Houston)
                        +1 555-555-5555 US
                        +1 555-555-5555 US
                        +1 555-555-5555 US
                        +1 555-555-5555 US
                        Webinar ID: 847 4487 9597
                        Passcode: 624676
                        International numbers available: https://us02web.zoom.us/u/keAZAaEubq


                      editable: true
                      ends_at: 2025-12-30T20:00:00.000-05:00
                      invited_emails:
                        - user@example.com
                      kind: standard
                      lat: null
                      lng: null
                      location: https://us02web.zoom.us/w/84744879597?tk=oHIz07BqZ31q2QuiOk8aP5xENpdfQMXSdfgNoS0_S3g.DQcAAAATuzA97RY2aW1TZ09Ya1NScU81Q3MySm92TVhnAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA&pwd=DnLyTMaE3PJj5smbiaGgJ7BZ8ObsSW.1
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - EXDATE;TZID=America/New_York:20250506T190000
                        - RRULE:FREQ=WEEKLY;WKST=SU;UNTIL=20251231T010000Z;INTERVAL=1;BYDAY=TU
                      source: google
                      starts_at: 2025-12-30T19:00:00.000-05:00
                      status: approved
                      summary: WTA Events and Six-Figure Interviews
                      timezone: America/New_York
                      uid: _c8sjeqrld8smudj7e9l3gp1hdsr76srac5ijirhme1lmqsbbe8rjit336pmmmsb9ckqjeqj1ctp6kdhp6kr7at39chh32qj7
                    id: 5355662668-1767139200
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2025-12-31T10:15:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;INTERVAL=1;BYDAY=MO,TU,WE,TH,FR
                      source: google
                      starts_at: 2025-12-31T10:00:00.000-05:00
                      status: approved
                      summary: Delta Standup
                      timezone: America/New_York
                      uid: 74pjac1k70qj4b9k6go3ab9k64o32bb2clj3ibb260qjcp3270o3gphk60
                    id: 5355661992-1767193200
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2025-12-31T12:00:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;UNTIL=20260625T035959Z;INTERVAL=1;BYDAY=WE
                      source: google
                      starts_at: 2025-12-31T11:00:00.000-05:00
                      status: approved
                      summary: Delta Dev Sync
                      timezone: America/New_York
                      uid: 6cr6ae9j6os3cbb16go3eb9kcdgjgbb268oj6b9k75h36e9mckom6ohg6c
                    id: 5355662005-1767196800
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2025-12-31T12:00:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=MO;UNTIL=20260107T045959Z
                      source: google
                      starts_at: 2025-12-31T11:00:00.000-05:00
                      status: approved
                      summary: Agent UI Standup
                      timezone: America/New_York
                      uid: 69ij2cphckqm4b9m71ij2b9kcgoj4bb174sj4bb568o66e1n71i62p1l60
                    id: 5355662051-1767196800
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2025-12-31T18:30:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: false
                      recurring_config: false
                      rrule: null
                      source: google
                      starts_at: 2025-12-31T17:30:00.000-05:00
                      status: approved
                      summary: Vue Wadsworth dinner
                      timezone: null
                      uid: covjrhje4ahkn9d8lef2inge5c
                    id: "5355913036"
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "14463836"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: true
                      calendar_id: user@example.com
                      countdown_enabled: true
                      description: null
                      editable: true
                      ends_at: 2026-01-02T00:00:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: false
                      recurring_config: false
                      rrule: null
                      source: google
                      starts_at: 2026-01-01T00:00:00.000-05:00
                      status: approved
                      summary: New Years Day!
                      timezone: null
                      uid: p3q8esr6c4ecmlhmfuoj6u2i64
                    id: "5355662636"
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-01T10:15:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;INTERVAL=1;BYDAY=MO,TU,WE,TH,FR
                      source: google
                      starts_at: 2026-01-01T10:00:00.000-05:00
                      status: approved
                      summary: Delta Standup
                      timezone: America/New_York
                      uid: 74pjac1k70qj4b9k6go3ab9k64o32bb2clj3ibb260qjcp3270o3gphk60
                    id: 5355661992-1767279600
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-01T12:00:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;INTERVAL=1;BYDAY=TU,TH
                      source: google
                      starts_at: 2026-01-01T11:00:00.000-05:00
                      status: approved
                      summary: Delta Dev Brainstorm
                      timezone: America/New_York
                      uid: 69gm2e1h6gr3gb9hcksjab9k6srm6b9ocgo32bb661h3gchj74o3aoj1ck
                    id: 5355661997-1767283200
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-02T10:15:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;INTERVAL=1;BYDAY=MO,TU,WE,TH,FR
                      source: google
                      starts_at: 2026-01-02T10:00:00.000-05:00
                      status: approved
                      summary: Delta Standup
                      timezone: America/New_York
                      uid: 74pjac1k70qj4b9k6go3ab9k64o32bb2clj3ibb260qjcp3270o3gphk60
                    id: 5355661992-1767366000
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: true
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-04T00:00:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: false
                      recurring_config: false
                      rrule: null
                      source: google
                      starts_at: 2026-01-03T00:00:00.000-05:00
                      status: approved
                      summary: Tonic Dog Show - Tallmadge
                      timezone: null
                      uid: 61hmao9icpijibb2coo3cb9kccqjibb174p3eb9g74s3ae9h6koj6or474
                    id: "5355662551"
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-05T10:00:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=MO
                      source: google
                      starts_at: 2026-01-05T09:30:00.000-05:00
                      status: approved
                      summary: Kaha 1:1
                      timezone: America/New_York
                      uid: 69i62or364p6cbb474sj0b9k6osmcbb1cosm6bb16kpjcchi74p66e9i6c
                    id: 5355662012-1767623400
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-05T10:15:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;INTERVAL=1;BYDAY=MO,TU,WE,TH,FR
                      source: google
                      starts_at: 2026-01-05T10:00:00.000-05:00
                      status: approved
                      summary: Delta Standup
                      timezone: America/New_York
                      uid: 74pjac1k70qj4b9k6go3ab9k64o32bb2clj3ibb260qjcp3270o3gphk60
                    id: 5355661992-1767625200
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-05T10:30:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=MO
                      source: google
                      starts_at: 2026-01-05T10:15:00.000-05:00
                      status: approved
                      summary: Delta Idea Board Grooming
                      timezone: America/New_York
                      uid: 68rm2oj56lhjeb9j6li30b9k6pim8b9ochi30b9ic4s66dhm6crj4chl68
                    id: 5355661995-1767626100
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-06T10:15:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;INTERVAL=1;BYDAY=MO,TU,WE,TH,FR
                      source: google
                      starts_at: 2026-01-06T10:00:00.000-05:00
                      status: approved
                      summary: Delta Standup
                      timezone: America/New_York
                      uid: 74pjac1k70qj4b9k6go3ab9k64o32bb2clj3ibb260qjcp3270o3gphk60
                    id: 5355661992-1767711600
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-06T12:00:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;INTERVAL=1;BYDAY=TU,TH
                      source: google
                      starts_at: 2026-01-06T11:00:00.000-05:00
                      status: approved
                      summary: Delta Dev Brainstorm
                      timezone: America/New_York
                      uid: 69gm2e1h6gr3gb9hcksjab9k6srm6b9ocgo32bb661h3gchj74o3aoj1ck
                    id: 5355661997-1767715200
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-06T14:00:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=MO
                      source: google
                      starts_at: 2026-01-06T13:30:00.000-05:00
                      status: approved
                      summary: Weekly Catchup - Wendy
                      timezone: America/New_York
                      uid: 65j62dph70qj2b9pccs34b9k6so34bb174rjab9ocdj34dj170pjic9k6c
                    id: 5355661982-1767724200
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-06T15:00:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=MO;INTERVAL=1;BYDAY=TU
                      source: google
                      starts_at: 2026-01-06T14:00:00.000-05:00
                      status: approved
                      summary: Pelvic floor therapy
                      timezone: America/New_York
                      uid: 3s32ncc2ql4gs0tdgej8tmu9o8
                    id: 5355661970-1767726000
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13624117"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-06T14:30:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;INTERVAL=2;BYDAY=TU
                      source: google
                      starts_at: 2026-01-06T14:00:00.000-05:00
                      status: approved
                      summary: The Clash Sprint Review
                      timezone: America/New_York
                      uid: cgsj2ob6c8qm8b9p6dh32b9k6dijgb9p6co6ab9j6ph6co9k6crm4opgco
                    id: 5355661986-1767726000
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-07T11:00:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;INTERVAL=2;BYDAY=WE
                      source: google
                      starts_at: 2026-01-07T10:00:00.000-05:00
                      status: approved
                      summary: The Clash Sprint Planning
                      timezone: America/New_York
                      uid: 6kqm4o9n6oom4b9k6gpm4b9k65hj4b9p65ij8b9g65ijgob1c9i32ohg6k
                    id: 5355661994-1767798000
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-07T10:15:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;INTERVAL=1;BYDAY=MO,TU,WE,TH,FR
                      source: google
                      starts_at: 2026-01-07T10:00:00.000-05:00
                      status: approved
                      summary: Delta Standup
                      timezone: America/New_York
                      uid: 74pjac1k70qj4b9k6go3ab9k64o32bb2clj3ibb260qjcp3270o3gphk60
                    id: 5355661992-1767798000
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-07T12:00:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;UNTIL=20260625T035959Z;INTERVAL=1;BYDAY=WE
                      source: google
                      starts_at: 2026-01-07T11:00:00.000-05:00
                      status: approved
                      summary: Delta Dev Sync
                      timezone: America/New_York
                      uid: 6cr6ae9j6os3cbb16go3eb9kcdgjgbb268oj6b9k75h36e9mckom6ohg6c
                    id: 5355662005-1767801600
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-08T08:30:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;INTERVAL=2;BYDAY=TH
                      source: google
                      starts_at: 2026-01-08T07:30:00.000-05:00
                      status: approved
                      summary: AIML/ARA Sprint Demo
                      timezone: America/New_York
                      uid: ckoj8ob5cgr6cb9mcco3ib9kc9gjgb9o75h36b9p6ss62e9g6hhjgdr460
                    id: 5355661999-1767875400
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-08T10:15:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;INTERVAL=1;BYDAY=MO,TU,WE,TH,FR
                      source: google
                      starts_at: 2026-01-08T10:00:00.000-05:00
                      status: approved
                      summary: Delta Standup
                      timezone: America/New_York
                      uid: 74pjac1k70qj4b9k6go3ab9k64o32bb2clj3ibb260qjcp3270o3gphk60
                    id: 5355661992-1767884400
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-08T12:00:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;INTERVAL=1;BYDAY=TU,TH
                      source: google
                      starts_at: 2026-01-08T11:00:00.000-05:00
                      status: approved
                      summary: Delta Dev Brainstorm
                      timezone: America/New_York
                      uid: 69gm2e1h6gr3gb9hcksjab9k6srm6b9ocgo32bb661h3gchj74o3aoj1ck
                    id: 5355661997-1767888000
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-09T10:15:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;INTERVAL=1;BYDAY=MO,TU,WE,TH,FR
                      source: google
                      starts_at: 2026-01-09T10:00:00.000-05:00
                      status: approved
                      summary: Delta Standup
                      timezone: America/New_York
                      uid: 74pjac1k70qj4b9k6go3ab9k64o32bb2clj3ibb260qjcp3270o3gphk60
                    id: 5355661992-1767970800
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-12T10:00:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=MO
                      source: google
                      starts_at: 2026-01-12T09:30:00.000-05:00
                      status: approved
                      summary: Kaha 1:1
                      timezone: America/New_York
                      uid: 69i62or364p6cbb474sj0b9k6osmcbb1cosm6bb16kpjcchi74p66e9i6c
                    id: 5355662012-1768228200
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-12T10:15:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;INTERVAL=1;BYDAY=MO,TU,WE,TH,FR
                      source: google
                      starts_at: 2026-01-12T10:00:00.000-05:00
                      status: approved
                      summary: Delta Standup
                      timezone: America/New_York
                      uid: 74pjac1k70qj4b9k6go3ab9k64o32bb2clj3ibb260qjcp3270o3gphk60
                    id: 5355661992-1768230000
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-12T10:30:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=MO
                      source: google
                      starts_at: 2026-01-12T10:15:00.000-05:00
                      status: approved
                      summary: Delta Idea Board Grooming
                      timezone: America/New_York
                      uid: 68rm2oj56lhjeb9j6li30b9k6pim8b9ochi30b9ic4s66dhm6crj4chl68
                    id: 5355661995-1768230900
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-13T10:15:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;INTERVAL=1;BYDAY=MO,TU,WE,TH,FR
                      source: google
                      starts_at: 2026-01-13T10:00:00.000-05:00
                      status: approved
                      summary: Delta Standup
                      timezone: America/New_York
                      uid: 74pjac1k70qj4b9k6go3ab9k64o32bb2clj3ibb260qjcp3270o3gphk60
                    id: 5355661992-1768316400
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-13T12:00:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;INTERVAL=1;BYDAY=TU,TH
                      source: google
                      starts_at: 2026-01-13T11:00:00.000-05:00
                      status: approved
                      summary: Delta Dev Brainstorm
                      timezone: America/New_York
                      uid: 69gm2e1h6gr3gb9hcksjab9k6srm6b9ocgo32bb661h3gchj74o3aoj1ck
                    id: 5355661997-1768320000
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-13T14:00:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;INTERVAL=2;BYDAY=TU
                      source: google
                      starts_at: 2026-01-13T13:00:00.000-05:00
                      status: approved
                      summary: ML Project Sync
                      timezone: America/New_York
                      uid: coqj0cr36cp3ebb170p30b9kckpmcb9o6kp30bb6c5gjgchgc4q6coj170
                    id: 5355662001-1768327200
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-13T14:00:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=MO
                      source: google
                      starts_at: 2026-01-13T13:30:00.000-05:00
                      status: approved
                      summary: Weekly Catchup - Wendy
                      timezone: America/New_York
                      uid: 65j62dph70qj2b9pccs34b9k6so34bb174rjab9ocdj34dj170pjic9k6c
                    id: 5355661982-1768329000
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-13T15:00:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=MO;INTERVAL=1;BYDAY=TU
                      source: google
                      starts_at: 2026-01-13T14:00:00.000-05:00
                      status: approved
                      summary: Pelvic floor therapy
                      timezone: America/New_York
                      uid: 3s32ncc2ql4gs0tdgej8tmu9o8
                    id: 5355661970-1768330800
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13624117"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-14T10:15:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;INTERVAL=1;BYDAY=MO,TU,WE,TH,FR
                      source: google
                      starts_at: 2026-01-14T10:00:00.000-05:00
                      status: approved
                      summary: Delta Standup
                      timezone: America/New_York
                      uid: 74pjac1k70qj4b9k6go3ab9k64o32bb2clj3ibb260qjcp3270o3gphk60
                    id: 5355661992-1768402800
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-14T12:00:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;UNTIL=20260625T035959Z;INTERVAL=1;BYDAY=WE
                      source: google
                      starts_at: 2026-01-14T11:00:00.000-05:00
                      status: approved
                      summary: Delta Dev Sync
                      timezone: America/New_York
                      uid: 6cr6ae9j6os3cbb16go3eb9kcdgjgbb268oj6b9k75h36e9mckom6ohg6c
                    id: 5355662005-1768406400
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-15T10:15:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;INTERVAL=1;BYDAY=MO,TU,WE,TH,FR
                      source: google
                      starts_at: 2026-01-15T10:00:00.000-05:00
                      status: approved
                      summary: Delta Standup
                      timezone: America/New_York
                      uid: 74pjac1k70qj4b9k6go3ab9k64o32bb2clj3ibb260qjcp3270o3gphk60
                    id: 5355661992-1768489200
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-15T12:00:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;INTERVAL=1;BYDAY=TU,TH
                      source: google
                      starts_at: 2026-01-15T11:00:00.000-05:00
                      status: approved
                      summary: Delta Dev Brainstorm
                      timezone: America/New_York
                      uid: 69gm2e1h6gr3gb9hcksjab9k6srm6b9ocgo32bb661h3gchj74o3aoj1ck
                    id: 5355661997-1768492800
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-16T10:15:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=SU;INTERVAL=1;BYDAY=MO,TU,WE,TH,FR
                      source: google
                      starts_at: 2026-01-16T10:00:00.000-05:00
                      status: approved
                      summary: Delta Standup
                      timezone: America/New_York
                      uid: 74pjac1k70qj4b9k6go3ab9k64o32bb2clj3ibb260qjcp3270o3gphk60
                    id: 5355661992-1768575600
                    relationships:
                      calendar_account:
                        data:
                          id: "1570313"
                          type: calendar_account
                      categories:
                        data:
                          - id: "13600771"
                            type: category
                      event_notification_setting:
                        data: null
                    type: calendar_event
                  - attributes:
                      all_day: false
                      calendar_id: user@example.com
                      countdown_enabled: false
                      description: null
                      editable: true
                      ends_at: 2026-01-19T10:00:00.000-05:00
                      invited_emails: []
                      kind: standard
                      lat: null
                      lng: null
                      location: null
                      master_event_id: null
                      owner_email: user@example.com
                      recurring: true
                      recurring_config: true
                      rrule:
                        - RRULE:FREQ=WEEKLY;WKST=MO
                      source: google
                      starts_at: 2026-01-19T09:30:00.000-05:00
                      status: approved
                      summary: Kaha 1:1
                      timezone: America/New_York
                      uid: 69i62or364p6cbb474sj0b9k6osmcbb1cosm6bb16kpjcchi74p66e9i6c
[...]
